<html>
    <head>
        <title>
            NITI
        </title>
    </head>
    <body>
        Hi,<br>
        Please update your reporting lead email id in your profile to send the status report.
        <br>
        Thanks&Regards,<br>
        NITI
    </body>
</html>
