<html>
    <head>
        <title>
            NITI
        </title>
    </head>
    <body>
        <form class="form-horizontal" name="registrationForm" method="post" id='registrationForm' enctype="multipart/form-data">
            <table calss="table table-striped" style="margin-top: 10px;">
                <tr class="form-group">
                    <td>Password<span style="color: red;">*</span></td>
                    <td><input class="form-control" type=password name='password' id="reset_password" /></td>
                </tr>
                <tr class="form-group">
                    <td>Confirm Password<span style="color: red;">*</span></td>
                    <td><input class="form-control" type=password name='password_confirmation' id="resetpassword_confirmation" /></td>
                    <td id="pswdError"></td>
                </tr>
                <tr class="form-group">
                    <td><input class="btn btn-success" type="submit" name='submit' value="Reset Password" id="resetSubmit"></td>
                    <td><span  id='spinner' style='display:none;'><img src={{imagesPath}}spinner.gif /></span></td>
                    <td id="resetResult"></td>
                </tr>
            </table>

        </form>
     
</body>
</html> 