
        Hi {{ email }}, 
      <br><br>
      File uploaded successfully and below is download link for it.
      <br>
      <a href ="{{ url }}">Click it</a>
      <br><br>
 Thanks & Regards,<br>
        NITI

