<html>
    <head>
        <title>
            Asset Submission 
        </title>
    </head>
    <body>
        Hi&nbsp;&nbsp;&nbsp;{{email}},
        <br><br>
        You have taken product {{ productName }} two days before. So requesting you to submit the device as early as possible.
        <br><br>
        Thanks & Regards,<br>
        NITI

    </body>
</html>
