<html>
    <head>
        <title>
            NITI
        </title>
    </head>
    <body>
      Hi {{ fromEmail }}, 
      <br><br>
      Your password has been reset.
      <br>
      Please login with the following credentials.
      <br>
      Email:&nbsp;&nbsp;{{ fromEmail }}<br>
      Password:&nbsp;&nbsp;{{ pwd }}
      <br><br>
 Thanks & Regards,<br>
        NITI  
    </body>
</html>

